h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
}
.list-style{
   background-color: black; 
   color:darkblue;
   text-align: center;
   line-height: 20px;
}
#background{
    background-color: tomato;

}
p{

    font-weight: 600;
    font-size: 3em;
}
body{
    font-size: 16px;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}